.pit {
    width: 2em;
    text-align: center;
}

.myPit {
    background-color: lemonchiffon;
}

.otherPit {
    background-color: plum;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.top{
    width:500px;
    height:500px;
}